.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #1b3a4b;
    font-weight: 700;
    font-size: 5rem;
    padding: 3rem 0;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    padding-top: 5rem;
}